/* デフォルトテーマの詳細度が高く上書きが難しいので一律で上げている
 * 時間があったらテーマを自作したい
 */
#app {
  color: #333;

  .dark & {
    color: #eee;
  }

  .slidev-page {
    background-image: url("/bottom.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .slidev-page:has(.no-bg) {
    background-image: none;
  }

  .slidev-layout {
    padding-top: 4rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    margin-bottom: 1em;
  }

  h1 {
    font-size: 3rem;
    line-height: 1.5;
  }

  h2,
  h3 {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-block: 0.5rem;
    line-height: 1.5;
    opacity: 1;
  }

  p + p {
    margin-top: 2rem;
  }

  ol > li,
  ul > li {
    font-size: 1.5rem;
  }

  .two-cols-header {
    column-gap: 2rem;
  }

  .col-right li,
  .col-left li {
    font-size: 1.2rem;
  }
}
